body


.Demo {
padding: .2em 7em 0;
margin-bottom: 0em;
background: rgba(251, 211, 182, 0.2);
transition: background-color 0.3s ease;
border: 2px solid #d3856b;
border-radius: 3px;
}
table {
  background-color: rgba(251, 211, 182, 0.2);
transition: background-color 0.3s ease;
border: 2px solid #d3856b;
border-radius: 3px;


</table>
}